/* Стилі для всього документа */
body {
    font-family: Arial, sans-serif; /* Шрифт для всього документа */
    font-size: 16px;                /* Розмір шрифта */
    color: #333333;                 /* Колір тексту */
    line-height: 1.5;               /* Міжрядковий інтервал */
    text-align: justify;            /* Вирівнювання тексту */
    background-color: #f4f4f4;     /* Колір фону */
}

/* Стилі для заголовків */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', serif;  /* Шрифт для заголовків */
    color: #2c3e50;                 /* Колір заголовків */
    text-align: center;             /* Вирівнювання заголовків по центру */
}

/* Стилі для посилань */
a {
    color: #2980b9;                 /* Колір посилань */
    text-decoration: none;          /* Підкреслення вимкнене */
}

a:hover {
    color: #e74c3c;                 /* Колір посилання при наведенні */
    text-decoration: underline;     /* Підкреслення при наведенні */
}

/* Стилі для абзаців */
p {
    font-size: 18px;                /* Розмір шрифта для абзаців */
    color: #555555;                 /* Колір тексту */
    line-height: 1.8;               /* Міжрядковий інтервал */
    text-align: justify;            /* Вирівнювання тексту */
}

/* Клас для спеціальних абзаців */
.special-paragraph {
    color: #8e44ad !important;      /* Колір тексту з важливістю */
    font-size: 20px !important;     /* Розмір шрифта з важливістю */
}

/* Стилі для таблиць */
table {
    width: 100%;                    /* Ширина таблиці на всю ширину */
    border-collapse: collapse;      /* Видалити проміжки між клітинками */
}

table, th, td {
    border: 1px solid #ddd;         /* Колір межі для таблиці, заголовків і клітинок */
}

th, td {
    padding: 10px;                  /* Відступи для клітинок */
    text-align: left;                /* Вирівнювання тексту в клітинках */
}

th {
    background-color: #f2f2f2;      /* Колір фону для заголовків таблиці */
}

/* Стилі для списків */
ul, ol {
    padding-left: 20px;              /* Відступ зліва для списків */
}

li {
    font-size: 16px;                 /* Розмір шрифта для елементів списку */
}
